:root {
    --green: #4d9288;
    --light_green: #ddf8bf;
    --background_gray: #dbdbd3;
    --dark_gray: #6d7376;
    --mid_gray: #b1b1b1;
    --light_gray: #eaeaea;
    --warm_gray: #f3eeeb;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}


/* BACKGROUND & CONTAINER */

.app {
    width: 100vw;
    height: 100vh;
    padding: 2% 0;
    background: linear-gradient(to bottom, var(--green) 0px, var(--green) 15vh, var(--background_gray) 0px, var(--background_gray) 100%);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--warm_gray);
    display: flex;
}


/* SIDEBAR */

.sidebar {
    height: 100%;
    width: 380px;
    flex-shrink: 0;
    background-color: var(--white);
}


/* CHAT AREA */

.open-chat {
    flex-grow: 1;
    background-color: var(--light_green);
}





/* MEDIA QUERY ______________________________________ */

/* Phone and tablet */
@media (max-width: 980px) {
    
    .app {
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .sidebar {
        max-width: 82px;
    }

}

/* Only phone */
@media (max-width: 500px) {

    .sidebar {
        display: none;
    }
    
}