:root {
    --green: #4d9288;
    --light_green: #ddf8bf;
    --background_gray: #dbdbd3;
    --dark_gray: #6d7376;
    --mid_gray: #b1b1b1;
    --light_gray: #eaeaea;
    --warm_gray: #f3eeeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}



.app {
    width: 100vw;
    height: 100vh;
    padding: 2% 0;
    background-color: var(--green);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--warm_gray);
}